## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

*IMPORT LIBRARIES*

# BUSINESS UNDERSTANDING
The methodology used in this project is CRoss-INDUSTRY STANDARD PROCESS FOR DATA MINING\
This project is about housing data and it is to help real estate owners into making decision on which house to buy and sell.
through the analysis using the regression model we will be able to analyse the correlation between different variables and the prediction/forecasting.
This data is available at  King County House Sales dataset

# DATA UNDERSTANDING
the data is found at  King County House Sales dataset,which has a total number of 21597 rows and  21 columns.
The predictors for this model is the Square footage of the home ,number of bedrooms and condition of the house (sqft_living,bedrooms,condition)
The target will be the price of the homes

# DATA PREPARATION
* The null values in the dataset will either be removed or replaced with mean and median
* Numeric values encoded as strings will be converted to numeric
* Multicollinearity will be looked into and removed,then we will normalize the numeric data 
and lastly convert categorical data into numeric

In [212]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

LOAD THE DATA

In [213]:
# Your code here - remember to use markdown cells for comments as well!
kc_house=pd.read_csv(r'data\kc_house_data.csv')

DATA UNDERSTANDING

In [214]:
kc_house.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [215]:
kc_house.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront       float64
view             float64
condition          int64
grade              int64
sqft_above         int64
sqft_basement     object
yr_built           int64
yr_renovated     float64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [216]:
# CHANGE DATE FROM OBJECT TO DATE
kc_house['date']=pd.to_datetime(kc_house['date']).copy()

In [217]:
#LOOK FOR DUPLICATES
kc_house.duplicated().sum()

0

In [218]:
kc_house.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [219]:
kc_house.shape

(21597, 21)

In [220]:
kc_house.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [221]:
kc_house.tail(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21592,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [222]:
kc_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  datetime64[ns]
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(11), object(1)
memory usage: 3.5+ MB

* CHECK THE NULL VALUES IN THE DATASET

In [223]:
kc_house.isnull().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [224]:
#fill view null values with mean
view_mean=kc_house['view'].mean()
kc_house['view']=kc_house['view'].fillna(view_mean)

In [225]:
#fill yr_renovated null values with median
yr_ren_median=kc_house['yr_renovated'].median()
kc_house['yr_renovated']=kc_house['yr_renovated'].fillna(yr_ren_median)

In [226]:
#fill waterfront null values with median 
waterf_median=kc_house['waterfront'].median()
kc_house['waterfront']=kc_house['waterfront'].fillna(waterf_median)

In [227]:
kc_house=kc_house.replace('?',np.nan)
kc_house=kc_house.apply(pd.to_numeric,errors='coerce')
kc_house=kc_house.dropna()

In [228]:
#confirm null values
kc_house.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

LOOK FOR MULTICOLLINEARITY

In [229]:

#df=pd.DataFrame(kc_house)
#predictors
x=kc_house[['bedrooms','sqft_living','condition']]
#add constant
x= sm.add_constant(x)
#calculate VFM
vif=pd.DataFrame()

vif['variable'] = x.columns

vif['VIF'] = [variance_inflation_factor(x.values,i)for i in range(x.shape[1])]
print(vif)

      variable        VIF
0        const  41.278463
1     bedrooms   1.510195
2  sqft_living   1.514888
3    condition   1.009459

the VIF for the predictors are within range so i will not drop any

VISUALIZATION

In [230]:
#TRAIN
train=kc_house.drop(['id','date','price'],axis=1)
test=kc_house['price']

In [231]:
#split the data into train and test
x_train,x_test,y_train,y_test = train_test_split(train,test,test_size=0.2,random_state=42)

TRAIN THE MODEL

In [232]:
model=LinearRegression()

In [233]:
# an error occured because the data set had "?" value instead of numeric value
model.fit(x_train,y_train)

LinearRegression()

In [234]:
pred=model.predict(x_test)

In [235]:
pred

array([1156005.32606843,  183939.13584078,  528619.40566001, ...,
        117910.1837998 ,  489595.78883252,  420084.03115304])

In [236]:
#EVALUATE THE MODEL
score=model.score(x_test,y_test)
score

0.702717866569122